.category-show {
    &__container {
        &__flex {
            display:flex;
            flex-wrap:wrap;
            border-top:8px solid #4e443f;

            .item {
                display:flex;
                width:667px;
                height:268px;

                .image {
                    width:50%;
                    height:268px;
                }
            }
        }
    }
}