.category-show {
    height: 544px;
    &__container {
        &__flex {
            display:flex;
            flex-wrap:wrap;
            border-top:8px solid #4e443f;

            .item {
                display:flex;
                width:667px;
                height:268px;

                img {
                    width:300px;
                    height:268px;
                }

                .content {
                    width:50%;
                    height:300px;
                    padding-left:1rem;

                    &__category {
                        .category--name {
                            font-weight:bold;
                            border-bottom:3px solid #9a9014;
                            padding-bottom: 0.1rem;
                            color:#9a9014;
                            text-decoration: none;
                            margin-bottom: 1.1rem;
                            width:8rem;
                            position: relative;
                            bottom: 0; 
                            left: 0rem; 
                        }
                    }

                    &__title {
                        a {
                            color:#756d69;
                            font-weight:bold;
                            text-decoration:none;

                            &:hover {
                                color:#f9a623;
                                font-weight:bold;
                            }
                        }
                    }
                    
                    &__body {
                        font-size: 1rem;
                        color:#756d69;
                    }
                 
               }
               &:nth-child(3) {
                display: flex;
                flex-direction: row-reverse;
              }

              &:nth-child(4) {
                display: flex;
                flex-direction: row-reverse;
              }
            }
        }
    }
}