.category-show {
    height: 544px;
    &__container {
        &__flex {
            display:flex;
            flex-wrap:wrap;
            border-top:8px solid #4e443f;

            .item {
                display:flex;
                width:667px;
                height:268px;

                .image {
                    width:50%;
                    height:268px;
                }

                .content {
                    width:50%;
                    height:300px;
                    padding-left:1rem;

                    &__title {
                        a {
                            color:#756d69;
                            font-weight:bold;
                            text-decoration:none;

                            &:hover {
                                color:#f9a623;
                                font-weight:bold;
                            }
                        }
                    }
                    
                    &__body {
                        font-size: 2rem;
                    }
                  &:nth-child(3) {
                    display: flex;
                    flex-direction: row-reverse;
                  }

                  &:nth-child(4) {
                    display: flex;
                    flex-direction: row-reverse;
                  }
                }
            }
        }
    }
}