.show {
    &__container {
        display:flex;
        flex-direction:column;
        justify-content:center;
        background-image:url('<%= url_for(@article.image) %>');
        background-position:center;
        background-repeat:no-repeat;
        background-size:cover;

        .content {
            background:#f8f8f8;
            font-size:2rem;
            padding:2rem;

            p {
                color:#333;
            }
        }

        .likes {
            padding:3rem;
            background:#f8f8f8;
            color:#333;

            &__count {
                font-size:2rem;
            }

            .category {
                margin-bottom: 1rem;
            }
        }
    }
}